name: Build UBlue ISO

on:
  workflow_dispatch:
  # optional: on: push: branches: [ main ]

jobs:
  build-iso:
    name: Generate ISO from published container image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # (Falls cosign / pulling signed image required: Login to GHCR)
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate ISO
        uses: JasonN3/build-container-installer@main
        with:
          image: ghcr.io/${{ github.repository_owner }}/ublue-kurpanek:latest
          output-name: "ublue-latest.iso"

      - name: Upload ISO artifact
        uses: actions/upload-artifact@v4
        with:
          name: ublue-iso
          path: ./*.iso
