name: Build UBlue ISO (with signing)

on:
#  push:
#    branches:
#      - main
  workflow_dispatch:

jobs:
  build-and-iso:
    name: Build OCI image + Sign + Generate ISO
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write      # required for cosign/OIDC if needed

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ----
